:root {
  --main-bg-color: #b3b4bd;
  --secondary-bg-color: #2c2e3a;
  --main-text-color: #141619;
  --accent-color1: #050a44;
  --accent-color2: #050a44;
}

body {
  background-color: var(--main-bg-color);
}
p {
  color: var(--main-text-color);
}

.navbar {
  width: 100%;
  background-color: var(--secondary-bg-color);

  display: flex;
  flex-direction: row;
}
