@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-red: 255 0 0;
    --color-green: 0 200 50;
    --color-rebeccapurple: 102 51 153;
    --color-blue: 50 170 255;
    --color-white: 255 255 255;
    --color-outline: var(--color-white);
  }
  .white {
    --color-outline: var(--color-white);
  }
  .red {
    --color-outline: var(--color-red);
  }
  .rebeccapurple {
    --color-outline: var(--color-rebeccapurple);
  }
  .blue {
    --color-outline: var(--color-blue);
  }
}

#root,
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
